 h1 {
     color: black;
     font-size: 400%;
     text-align-last: center;
     font-family: 'Gill Sans';
     border: solid 1px gray;
     border-radius: 50px 50px;
     box-shadow: 3px 3px 5px rgb(92, 90, 90);
 }
 main {
     border: solid 1px gray;
     border-radius: 20px 20px;
     box-shadow: 3px 3px 5px rgb(92, 90, 90);
     text-align-last: center;   
 }
 h2 {
    text-align-last: center;
    
 }